.code-space {
  /* border: 1px solid gray; */
  box-shadow: 0px 0px 1em 1px rgb(0, 0, 0);
  /* box-shadow: 0px 0px 1em 1px #00ffc3; */
  display: flex;
  width: 90%;
  /* margin-top: 5px; */
  height:91vh;
}

.code-editor {
  background-color: #1e1e1e;
  display: flex;
  width: 70%;
  height: 100%;
  position: relative;
}
  
.print-area {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
  
.play-button-icon svg{
  fill:rgba(10, 200, 153, 0.6);
  position: absolute;
  bottom: 3%;
  right: 4%;
  cursor: pointer;
  transition: fill 0.2s ease-in-out;
}
  
.play-button-icon svg:hover{
  fill: rgb(10, 255, 195);
  stroke:10px;
}