.space {
    height: 42vh;
    background-color: #2f3035;
    /* border: 1px solid gray; */
    padding: 5%;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .space-input {
    height: 38vh;
    background-color: #2f3035;
    color: white;
    resize: none;
    border: none;
  }
  
  .space-input:focus{
    outline: none;
  }